{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="my-4 display-4">{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
        {% if posts %}
          {% for post in posts %}
            <div class="card mb-4 shadow">
              <div class="card-body">
                <a href="{{ url_for('views.post', post_id=post.id) }}" class="text-decoration-none">
                  <h2 class="card-title text-primary">{{ post.title }}</h2>
                </a>
                <p class="card-text">{{ post.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">{{ post.date_created|datetimeformat('%b %d, %Y %I:%M %p') }}</small>
                  <div class="font-italic">by <a href="/post/{{post.user.username}}" class="text-dark">{{post.user.username}}</a></div>
                  {% if current_user.is_authenticated %}
                    {% if current_user.id == post.author %}
                      <div class="btn-group" role="group">
                        <a href="{{ url_for('views.edit', post_id=post.id) }}" class="btn btn-sm btn-warning text-dark">
                          Edit
                        </a>
                        <div class="mx-1"></div>
                        <form action="{{ url_for('views.delete_post', post_id=post.id) }}" method="POST">
                          <input type="hidden" name="_method" value="DELETE">
                          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-info" role="alert">
            There are no posts yet. <a href="{{ url_for('views.create') }}" class="alert-link">Create a new post</a> to get started.
          </div>
        {% endif %}
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 shadow">
          <div class="card-body">
            <h5 class="card-title text-primary">About FlaskBlog</h5>
            <p class="card-text">FlaskBlog is a simple and easy-to-use blogging platform built with Flask and SQLalchemy. Create an account, make a new post, and share your thoughts with the world.</p>
          </div>
        </div>
        <div class="card mb-4 shadow">
          <div class="card-body">
            <h5 class="card-title text-primary">Recent Posts</h5>
            {% if posts %}
              {% for post in posts[:5] %}
                <a href="{{ url_for('views.post', post_id=post.id) }}" class="card-link text-dark">{{ post['title'] }}</a><br>
              {% endfor %}
            {% else %}
              <p class="card-text">No posts yet.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
