{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-4">{% block title %} Terms and Conditions {% endblock %}</h1>
    
    <p>By using this website, you agree to the following terms and conditions:</p>
    
    <ul>
      <li>Do not misuse this website or its contents.</li>
      <li>Do not attempt to hack or otherwise gain unauthorized access to this website.</li>
      <li>We are not responsible for any damages or loss resulting from your use of this website.</li>
      <li>We reserve the right to modify these terms and conditions at any time.</li>
    </ul>
  
  </div>

{% endblock %}
